 {
    border: solid red 1px;
}

* {
    box-sizing: content-box;
}

#gen-logo {
    display: block;
    height: 100px;
    margin: 30px auto;
}

h1 {
    text-align: center;
    font-family: 'Lustria';
    font-weight: lighter;
    font-size: 60px;
    margin: 0.5em auto 0;
}

h4 {
    text-align: center;
    font-family: 'Lustria';
    font-weight: lighter;
    font-size: 20px;
    margin: 0 auto 2em;
}

#request-change-box {
    position: absolute;
    top: 45%;
    font-family: 'Lustria';
    padding: 5px 10px 7px;
    border: solid black 1px;
    border-radius: 50px;
    background-color: hsl(205, 71%, 95%);
    transform: translateX(-75px) rotate(-90deg) ;
    cursor: pointer;

}

#request-change-text {
    vertical-align: middle;
    font-size: 10px;
    margin-left: 5px;
}

#raising-hand-icon {
    height: 20px;
    vertical-align: middle;
}

#request-change-box:hover > img {
    content: url("./icons/raising-hand-black.png");
}

.forms {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: auto auto;
    position: relative;
}

#checkbox-table {
    margin: 0 auto 20px;
}

input[type="checkbox"] {

}

#dates-table {
    margin: auto;
}

.date-title {
    padding-right: 20px;
}

select {
    margin: 10px 20px;
}

.radio {
    text-align: left;
    width: max-content;
    margin: 0px auto 2em;
    border: solid 1px black;
    padding-right: 20px;
}

#tags-table {
    text-align: center;
    margin: auto;
}

.plus-minus-signs {
    height: 30px;
}

#plus-sign:hover {
    content: url("./icons/add-100-black.png");
}

.minus-signs:hover {
    content: url("./icons/minus-100-black.png");
}

input {
    margin: 10px;
}

.button {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    background-color: hsl(205, 71%, 35%);
    color: white;
    padding: 8px 20px 10px;
    border-radius: 30px;
    border: solid 1px black;
}

#generate-button-td {
    padding: 20px;
}

.button:hover {
    background-color: hsl(205, 71%, 45%);
    cursor: pointer;
}

.button:active {
    background-color: hsl(205, 71%, 65%);
}

.tag {
    font-size: 12px;
}

#alert-messages {
    text-align: center;
    color: hsl(0, 100%, 40%);
}

#timeline-scripts {
    margin-bottom: 50px;
}