none {
    border: solid red 1px;
}

h1 {
    text-align: center;
    font-family: 'Lustria';
    font-weight: lighter;
    font-size: 60px;
    margin: 0.5em auto 0;
}

h2 {
    text-align: center;
    font-family: 'Lustria';
    font-weight: lighter;
    font-size: 20px;
    margin: 0 auto 2em;
}

#forms {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

input {
    margin: 10px;
}

.button {
    font-family: 'Lato', sans-serif;
    background-color: hsl(205, 71%, 35%);
    color: white;
    padding: 8px 20px;
    border-radius: 30px;
    border-style: solid grey;
}

.button:hover {
    background-color: hsl(205, 71%, 45%);
}

.button:active {
    background-color: hsl(205, 71%, 65%);
}